{% extends 'base.html.twig' %}

{% block title %}Messages / Touiteur
{% endblock %}

{% block body %}
	<main class="message--compose">
		<h2>Écrire un message</h2>
		{{ form(form) }}
	</main>
{% endblock %}
