{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié / Touiteur
{% endblock %}

{% block body %}
	<main class="page--default">
		{% for flash_error in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<h1 class="register__title">Réinitialiser votre mot de passe</h1>

		{{ form_start(requestForm) }}
		{{ form_widget(requestForm.email) }}

		<p class="register__terms">Entrez l'email associé à votre compte, nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>

		<button class="btn">Envoyer l'email</button>
		{{ form_end(requestForm) }}
	</main>
{% endblock %}
