.btn {
  padding: $size $size3;
  font-weight: 600;
  background-color: $primary-color;
  color: #fff;
  border-radius: $size2;
  border: 1px solid $primary-color;
  margin: auto;
  display: block;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

input {
  margin-bottom: $size2;
  background-clip: padding-box;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.2s, color 0.2s;
  width: 100%;

  &:focus {
    border-color: $primary-color;
    outline: 0;
  }
}

.page--default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 48px 32px 62px 32px;
}
