$primary-color: #4c9eeb;
$bg: #fff;
$text: #000;
$link-hover: #f9fafa;

$primary-color-dark: #1d9bf0;
$bg-dark: #000;
$text-dark: #d9d9d9;
$link-hover-dark: rgb(21, 24, 28);

$size: 8px;
$size2: $size * 2;
$size3: $size * 3;
$size4: $size * 4;
$size5: $size * 5;
$size6: $size * 6;
