@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./reset";
@import "./variables";

@import "./components";
@import "./nav";

@import "./pages/home";
@import "./pages/register";
@import "./pages/login";
@import "./pages/reset-password";

* {
  font-family: "Roboto", sans-serif;
}

body {
  color: $text;
}

html.dark body {
  color: $text-dark;
}

main {
  min-height: 100vh;
  transition: background-color 0.3s;
  background-color: $bg;
}

html.dark main {
  background-color: $bg-dark;
}

html.dark svg {
  fill: $text-dark;
}
