.show-touite {
  padding: 112px 16px 58px;

  &--author {
    padding: 66px 16px 58px;

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
  }

  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

.author__infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: $size2;
  font-weight: 300;
  color: rgb(83, 100, 113);
  font-size: 15px;

  &--text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &--name {
    color: $text;
    font-weight: 700;
  }
}

.touite__content {
  font-size: 23px;
  color: $text;
  line-height: 28px;
  margin-bottom: $size2;
}

.touite__date {
  color: rgb(83, 100, 113);
  font-size: 15px;
  margin-bottom: $size2;
}

.touite__stats {
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    gap: $size2;
    align-items: center;
    border-top: 1px solid rgb(239, 243, 244);
    border-bottom: 1px solid rgb(239, 243, 244);
    padding-top: 12px;
    padding-bottom: 12px;
  }

  li {
    font-size: 15px;
    line-height: 20px;
    color: rgb(83, 100, 113);

    span {
      color: $text;
      font-weight: 700;
    }
  }
}

.touite__actions--show {
  margin-top: 12px;
  display: flex;
  justify-content: space-evenly;
  gap: $size2;
  border-bottom: 1px solid rgb(239, 243, 244);
  padding-bottom: $size;

  svg {
    cursor: pointer;
    fill: rgb(83, 100, 113);
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }
}

#comment label,
#comment_touite {
  display: none;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: $size2;
  font-weight: 300;
  color: rgb(83, 100, 113);
  font-size: 15px;
  border-bottom: 1px solid rgb(239, 243, 244);

  img {
    align-self: center;
    transform: translateY(-$size3);
  }

  &__answer-to {
    font-weight: 300;
    color: rgb(83, 100, 113);
    font-size: 15px;
    margin-top: $size2;
    margin-bottom: $size;
    padding-left: 0.75rem;

    span {
      color: $primary-color;
      font-weight: 400;
    }
  }
}

.comments__container {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  column-gap: 16px;
  color: $text;
  font-weight: 300;
  width: 100%;
  border-bottom: 1px solid #f5f7f8;
  margin-top: $size2;
  padding-bottom: $size2;
  font-size: 15px;
}

.comment__author {
  color: rgb(83, 100, 113);
  margin-bottom: 8px;

  span {
    color: $text;
    font-weight: 700;
  }

  &--verified {
    fill: rgb(29, 155, 240);
    width: 16px;
    height: 16px;
    top: 0.1em;
    position: relative;
  }

  &--img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

html.dark {
  .author__infos {
    &--name {
      color: $text-dark;
    }
  }

  .touite__content {
    color: $text-dark;
  }

  .touite__stats {
    ul {
      border-color: #1d1f21;
    }

    li span {
      color: $text-dark;
    }
  }

  .touite__actions--show {
    border-color: #1d1f21;

    svg {
      fill: rgb(110, 118, 125);
    }
  }
}
