<form method="post" action="{{ path('app_touite_delete', {'id': touite.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer votre touite ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ touite.id) }}">
    <button class="btn btn--touite">Supprimer</button>
</form>
