{% extends 'base.html.twig' %}

{% block title %}Lien envoyé / Touiteur
{% endblock %}

{% block body %}
	<main>
		<h1 class="register__title">Envoyé!</h1>

		<p class="register__terms">
			Si un compte associé à cet email existe, un lien vient d'être envoyé. Il expirera dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p class="register__terms">Si vous n'avez rien reçu, patientez quelques minutes, vérifiez vos spams ou
			<a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
	</main>
{% endblock %}
