.btn {
  padding: $size $size3;
  font-weight: 600;
  background-color: $primary-color;
  color: #fff;
  border-radius: $size3;
  border: 1px solid $primary-color;
  margin: auto;
  display: block;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &--touite,
  &--answer {
    width: unset;
    margin-right: unset;
    margin-bottom: 16px;
  }

  &--touite {
    padding: 6px $size3;
  }

  &--edit {
    padding: 6px $size3;
    position: absolute;
    width: unset;
    margin-left: unset;
    right: $size2;
    top: $size2 + 41px;
    font-weight: 700;
    background-color: transparent;
    color: $text;
    border-color: rgb(207, 217, 222);
    padding: $size $size2;
    text-decoration: none;
  }

  &--follow {
    padding: 6px $size3;
    position: absolute;
    width: unset;
    margin-left: unset;
    right: $size2;
    top: $size2 + 41px;
    font-weight: 700;
    background-color: #0f1419;
    color: #fff;
    border-color: #0f1419;
    padding: $size $size2;
    text-decoration: none;
  }

  &--answer {
    padding: $size $size2;
  }

  &--compose {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 24px;
    bottom: 88px;
    z-index: 999;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $primary-color;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px,
      rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;

    svg {
      width: 24px;
      height: 24px;
      fill: $bg;
      line-height: 0;
    }
  }
}

html.dark {
  .btn {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;

    &--compose {
      box-shadow: rgba(217, 217, 217, 0.2) 0px 0px 5px,
        rgba(217, 217, 217, 0.25) 0px 1px 4px 1px;

      svg {
        fill: $bg;
      }
    }
  }
}
