.mobile__nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid $link-hover;
  padding: 8px 32px;
  background-color: $bg;
  z-index: 99;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & li {
      list-style-type: none;
      border-radius: 50%;
      padding: 8px;
      width: 42px;
      height: 42px;

      &:hover {
        background-color: rgba(15, 20, 25, 0.1);
      }
    }
  }

  svg {
    width: 26px;
    height: 26px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid $link-hover;
  padding: 8px 16px;
  background-color: $bg;
  z-index: 99;

  &__img-route {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  h1 {
    font-size: 17px;
    font-weight: 700;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  &__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;

    &--svg {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }
}

.mobile__settings {
  bottom: 0;
  left: -100vw;
  overflow-y: hidden;
  position: fixed;
  z-index: 999;
  background: $bg;
  transition: left 0.3s;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  padding: 16px 0;

  .header__img {
    margin-bottom: 12px;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  &--top {
    padding: 0 48px 0 26px;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    svg {
      transform: translate(24px);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &--name {
    font-weight: 700;
  }

  &--username {
    color: rgb(83, 100, 113);
    margin-bottom: 16px;
  }

  &--stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    p {
      color: rgb(83, 100, 113);
    }

    span {
      font-weight: 700;
      color: $text;
    }
  }

  svg {
    height: 1.3em;
    width: 1.3em;
    top: 0.25em;
    position: relative;
  }

  &--links {
    svg {
      margin-right: 12px;
    }

    &-theme {
      cursor: pointer;
    }

    li {
      padding: 18px 32px 18px 26px;

      &:hover {
        background-color: $link-hover;
      }

      &:nth-child(5) {
        border-top: 1px solid #f1f4f5;
      }
    }
  }

  &.active {
    left: 0;
  }

  h2 {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
  }

  ul {
    min-height: 100vh;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

.desktop__nav {
  border-right: 1px solid #f5f7f8;
  display: none;
  grid-area: 1 / 1 / 2 / 2;

  &--logo {
    width: 28px;
    height: auto;
    margin: 12px;
  }

  nav {
    display: flex;
    justify-content: center;
    margin: 32px;

    ul {
      position: fixed;
      height: 90vh;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;

      & li {
        list-style-type: none;
        transition: background-color 0.2s;
        border-radius: 9999px;

        svg {
          width: 26.25px;
          height: 26.25px;
        }

        a,
        p {
          padding: 12px 16px;
          font-size: 20px;
          text-decoration: none;
          color: $text;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 16px;
          overflow: hidden;

          &.btn--nav-touite {
            color: #fff;
            font-size: 17px;
          }
        }

        &:hover {
          cursor: pointer;
          background-color: rgba(15, 20, 25, 0.1);
        }
      }
    }
  }
}

html.dark {
  .mobile__nav {
    ul {
      & li {
        &:hover {
          background-color: $link-hover-dark;
        }
      }
    }
  }

  nav,
  .header {
    border-color: $link-hover-dark;
    background-color: $bg-dark;
  }

  .mobile__settings {
    background: $bg-dark;

    a,
    &--stats span {
      color: $text-dark;
    }

    &--links {
      li:hover {
        background-color: $link-hover-dark;
      }
    }
  }

  .desktop__nav {
    border-color: #292c2f;

    nav {
      ul {
        & li {
          a,
          p {
            color: $text-dark;
          }

          &:hover {
            background-color: rgba(231, 233, 234, 0.1);
          }
        }
      }
    }
  }
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.4);
}

.border-transparent {
  border: transparent;
}
