a.touite__container {
  text-decoration: none;
}

.touite__container {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  column-gap: 16px;
  color: $text;
  font-weight: 300;
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid #f5f7f8;
}

.touite__author {
  color: rgb(83, 100, 113);
  margin-bottom: 8px;

  span {
    color: $text;
    font-weight: 700;
  }

  &--verified {
    fill: rgb(29, 155, 240);
    width: 16px;
    height: 16px;
    top: 0.1em;
    position: relative;
  }

  &--img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.touite__actions {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  gap: 56px;
  font-size: 13px;
  line-height: 16px;

  svg {
    fill: rgb(83, 100, 113);
    width: 16px;
    height: 16px;
    top: 0.22em;
    position: relative;
    border-radius: 50%;
  }

  &--comment {
    &:hover {
      color: rgb(29, 155, 240);

      svg {
        background-color: rgba(29, 155, 240, 0.1);
        fill: rgb(29, 155, 240);
      }
    }
  }

  &--retouite {
    &:hover {
      color: rgb(0, 186, 124);

      svg {
        background-color: rgba(0, 186, 124, 0.1);
        fill: rgb(0, 186, 124);
      }
    }
  }

  &--like {
    &:hover {
      color: rgb(249, 24, 128);

      svg {
        background-color: rgba(249, 24, 128, 0.1);
        fill: rgb(249, 24, 128);
      }
    }
  }

  &--liked {
    color: rgb(249, 24, 128);

    svg {
      fill: rgb(249, 24, 128);
    }

    &:hover {
      color: unset;

      svg {
        fill: rgb(83, 100, 113);
      }
    }
  }
}

html.dark {
  .touite__container {
    color: $text-dark;
    border-color: #292c2f;
  }

  .touite__author {
    color: rgb(110, 118, 125);

    span {
      color: $text-dark;
    }
  }

  .touite__actions {
    color: rgb(110, 118, 125);

    svg {
      fill: rgb(110, 118, 125);
    }

    &--comment {
      &:hover {
        color: rgb(29, 155, 240);

        svg {
          background-color: rgba(29, 155, 240, 0.1);
          fill: rgb(29, 155, 240);
        }
      }
    }

    &--retouite {
      &:hover {
        color: rgb(0, 186, 124);

        svg {
          background-color: rgba(0, 186, 124, 0.1);
          fill: rgb(0, 186, 124);
        }
      }
    }

    &--like {
      &:hover {
        color: rgb(249, 24, 128);

        svg {
          background-color: rgba(249, 24, 128, 0.1);
          fill: rgb(249, 24, 128);
        }
      }
    }

    &--liked {
      color: rgb(249, 24, 128);

      svg {
        fill: rgb(249, 24, 128);
      }

      &:hover {
        color: rgb(110, 118, 125);

        svg {
          fill: rgb(110, 118, 125);
        }
      }
    }
  }
}

.home {
  display: flex;
  flex-direction: column-reverse;
  padding: 48px 0 58px 0;
  justify-content: flex-end;
}
